<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectivitymanager"
    android:versionCode="18"
    android:versionName="1.1.1">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
 	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
 	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"   
        >
        
        
        <activity
            android:name=".core.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".core.DisconnectTimerActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="com.connectivitymanager.core.WIFIWATCHER" />

            </intent-filter>
        </activity>
        
        
        
        <activity
            android:name=".core.SchedulerActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="com.connectivitymanager.core.CONN_SCHEDULER" />

            </intent-filter>
        </activity>
        
        
        <activity
        	android:name=".core.TimedWifiActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        	<intent-filter>
        		<action android:name="com.connectivitymanager.core.TIMED_WIFI" />

        	</intent-filter>
        </activity>
      
        <activity
        	android:name=".core.Timed3GActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        	<intent-filter>
        		<action android:name="com.connectivitymanager.core.TIMED_3G" />

        	</intent-filter>
        </activity>
        <receiver android:process=":remote" android:name=".alarm.TimedWifiReceiver" />
        <receiver android:process=":remote" android:name=".alarm.Timed3GReceiver" />
        <receiver android:process=":remote" android:name=".alarm.DisconnectReceiver" />
        <receiver android:process=":remote" android:name=".alarm.ScheduleWifiEnableReceiver" />
        <receiver android:process=":remote" android:name=".alarm.ScheduleWifiDisableReceiver" />
        <receiver android:process=":remote" android:name=".alarm.Schedule3GEnableReceiver" />
        <receiver android:process=":remote" android:name=".alarm.Schedule3GDisableReceiver" />
        <receiver android:process=":remote" android:name=".alarm.RetryReceiver" />
    </application>
</manifest>