<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectivitytimer"
    android:versionCode="1"
    android:versionName="0.6" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
 	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
 	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name=".core.MainActivity"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".core.DisconnectTimerActivity"
            android:label="@string/wf_timer_name" >
            <intent-filter>
                <action android:name="com.connectivitytimer.core.WIFIWATCHER" />

            </intent-filter>
        </activity>
        
          <activity
            android:name=".core.TimedWifiActivity"
            android:label="@string/timed_wf_name" >
            <intent-filter>
                <action android:name="com.connectivitytimer.core.TIMED_WIFI" />

            </intent-filter>
        </activity>
      
        <receiver android:process=":remote" android:name=".alarm.DisconnectReceiver" />
        <receiver android:process=":remote" android:name=".alarm.RetryReceiver" />
    </application>

	
    
</manifest>